@font-face {
	font-family: 'BebasNeue';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff2'),
	url('../fonts/BebasNeue/BebasNeue-Regular.woff') format('woff')
}

@font-face {
	font-family: 'PTSans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/PTSans/PTSans-Regular.woff2') format('woff2'),
	url('../fonts/PTSans/PTSans-Regular.woff') format('woff')
}


@font-face {
	font-family: 'PTSans';
	font-style: bold;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/PTSans/PTSans-Bold.woff2') format('woff2'),
	url('../fonts/PTSans/PTSans-Bold.woff') format('woff')
}



