@mixin container() {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: rem(20);
	padding-right: rem(20);

	@include media-breakpoint-up(md) {
		max-width: rem(1440);
	}

	@include media-breakpoint-up(lg) {
		padding-left: rem(80);
		padding-right: rem(40);
	}
}
