html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	background-color: $color-gray-light;
	overflow-y: unset !important
	// overflow-x: hidden;
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

