.icon {
	display: inline-block;
	width: rem(24);
	height: rem(24);
	vertical-align: middle;
	pointer-events: none;

	&--14 {
		width: rem(14);
		height: rem(14);
	}

	&--16 {
		width: rem(16);
		height: rem(16);
	}

	&--32 {
		width: rem(32);
		height: rem(32);
	}

	&--40 {
		width: rem(40);
		height: rem(40);
	}

	&--48 {
		width: rem(48);
		height: rem(48);
	}

	&--64 {
		width: rem(64);
		height: rem(64);
	}

	&--104 {
		width: rem(104);
		height: rem(104);
	}

	&--192 {
		width: rem(192);
		height: rem(192);
	}

	&--88 {
		width: rem(88);
		height: rem(88);
	}

	&--328 {
		width: rem(328);
		height: rem(328);
	}

	&--fit {
		width: 1em;
		height: 1em;
	}

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}
