$color-white: #fff;
$color-black: #42567A;
$color-gray: #C7CDD9;
$color-gray-light: #F4F5F9;
$color-gray-dark: #e0e0e0;
$color-blue: #3877EE;
$color-purple: #EF5DA8;
$color-dark: #303E58;


$colors: (
	'white': $color-white,
	'black': $color-black,
	'gray': $color-gray,
	'gray-light': $color-gray-light,
	'gray-dark': $color-gray-dark,
	'purple': $color-purple,
	'blue': $color-blue,
	'dark': $color-dark
);
