// Spacing sizes
$spacers: () !default;
$spacers: map-merge((
	0: 0,
	8: 8,
	16: 16,
	24: 24,
	32: 32,
	40: 40,
	48: 48,
	56: 56,
	64: 64,
	80: 80,
	96: 96,
	112: 112,
	120: 120,
	128: 128,
), $spacers);
