.nav-arrows {
	$root: &;

	position: relative;
	display: flex;
	align-items: center;

	&__buttons {
		display: flex;
		align-items: center;
		column-gap: rem(8);

		@include media-breakpoint-up(md) {
			column-gap: rem(20);
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: rem(8);
		width: rem(25);
		height: rem(25);
		line-height: rem(46);
		text-align: center;
		border: 1px solid rgba($color-black, 0.5);
		padding: 0;
		border-radius: 50%;
		overflow: hidden;
		@include defaultTransition(background-color, color, border-color, opacity);
		color: $color-black;
		border-color: rgba($color-black, 0.5);
		pointer-events: all;

		@include media-breakpoint-up(md) {
			width: rem(50);
			height: rem(50);
			font-size: rem(14);
		}

		&:disabled,
		&--disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}

		@include touchLessHover {
			&:not(:disabled):not(#{$root}__button--disabled) {
				background-color: white;
			}
		}
	}

	&--small {
		#{$root}__button {
			width: rem(40);
			height: rem(40);
			border: none;
			filter: drop-shadow(0 0 rem(4) rgba($color-blue, 0.5));
			background-color: white;
			color: $color-blue;

			&:disabled,
			&--disabled {
				opacity: 0;
				cursor: none;
			}
		}
	}
}
