{% extends "layouts::_page.twig" %}

{% block content %}
	<div>
		{% view '&slider-history' with {
			slider: slider
		} %}
	</div>
	<div>
		{% view '&slider-history' with {
			slider: slider2
		} %}
	</div>
{% endblock %}
