.card-event {
    display: flex;
    flex-direction: column;

    &__year {
        color: $color-blue;
        margin-bottom: rem(15);
        font-family: 'BebasNeue';
        font-size: rem(16);
        line-height: 1.5;
        
        @include media-breakpoint-up(md) {
            font-size: rem(25);
        }
    }

    &__text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include text-body;
        min-height: rem(90);
    }
}