.factoid {
    $b: #{&};
    display: inline-block;
    // color: $color-dark;
    transition: 0.5s;
  
    &__main {
      position: relative;
      display: inline-flex;

      @include media-breakpoint-up(sm) {
        font-size: rem(56);
      }

      @include media-breakpoint-up(md) {
        font-size: rem(100);
      }

      @include media-breakpoint-up(lg) {
        font-size: rem(200);
      }      
    }
  
    &__number {
      white-space: nowrap;

      @include media-breakpoint-up(sm) {
        min-width: auto !important;
      }  
    }
  
    &__number,
    &__before {
      font-weight: 700;
      line-height: rem(50);
    
      @include media-breakpoint-up(md) {
        letter-spacing: rem(-4);
      }
    }
  
    &__after {
      display: flex;
      padding-top: rem(13);
      margin-left: rem(8);
      font-weight: 600;
  
      &-sup {
        font-size: rem(32);
        position: relative;
        font-weight: 600;
        top: rem(-11);
        position: relative;
        right: rem(8);

        @include media-breakpoint-down(md) {
          font-size: rem(28);
        }

        @include media-breakpoint-down(sm) {
          font-size: rem(20);
          top: -0.4em;
        }
      }
    }
  
    &__top {
      &-text {
        white-space: nowrap;
      }
    }
  
    &__content {
      max-width: 100%;
  
      @include media-breakpoint-down(md) {
        margin-bottom: rem(6);
      }
  
      @include media-breakpoint-down(sm) {
        margin-bottom: rem(2);
      }
    }
  
    &__top-text,
    &__sup,
    &__sub {
      // @include text-default;
      display: block;
      opacity: .65;
    }
  
    &__top-text {
      display: inline-block;
  
      &--important {
        opacity: 1;
      }
    }
  
    &__color {
      display: inline-block;
      font-size: 0;
      height: rem(8);
      width: rem(30);
      margin-bottom: rem(4);
    }
  
    &__sup {
      white-space: nowrap;
      line-height: rem(20);
  
      @include media-breakpoint-down(md) {
        margin-bottom: rem(46);
      }
  
      &--important {
        opacity: 1;
      }
    }
  
    &__sup {
      font-size: rem(12);
      margin-bottom: rem(44);
  
      @include media-breakpoint-down(sm) {
        padding-top: rem(4);
        margin-bottom: rem(35);
        font-size: rem(11);
      }
    }
  
    &__sub {
      bottom: 0;
      padding-bottom: rem(16);
  
      @include media-breakpoint-down(sm) {
        padding-bottom: rem(8);
      }
    }
  
    &__label {
      color: rgba($color-black, 0.4);

      @include media-breakpoint-up(sm) {
        margin-top: rem(0);
      }

      @include media-breakpoint-up(md) {
        margin-top: rem(17);
      }
    }
  
    &__sublabel {
      margin-top: rem(10);
      opacity: 0.65;
      max-width: rem(208);
      //@include text-small;
    }
  
    &__icon {
      svg {
        rect {
          stroke: yellow;
        }
      }
    }
  }
  