.slider-events {
    position: relative;
    padding-bottom: rem(70);
    
    @include media-breakpoint-up(lg) {
        padding: 0 rem(70);
    }

    &__nav {
        position: absolute;
        display: none;
        inset: 0;
        margin: auto;
        pointer-events: none;

        @include media-breakpoint-up(lg) {
            display: flex;
        }

        .nav-arrows {
            position: absolute;
            inset: 0;
            margin: auto;
            width: 100%;
            z-index: 20;
            padding: 0 rem(16);

            &__buttons {
                width: 100%;
                justify-content: space-between;
            }
            &__button {
                pointer-events: all;
            }
        }
    }

    &__category {
        display: block;
        padding: 0 rem(20);
        font-weight: bold;
        margin-bottom: rem(16);

        @include media-breakpoint-up(lg) {
            display: none;
            padding: 0;
            margin-bottom: 0;
        }
    }

    &__bullets {
        position: absolute;
        display: flex;
        justify-content: center;
        bottom: 0;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        &.swiper-pagination-bullets {
            height: rem(6);
            width: 100%;
            column-gap: rem(10);
            @include defaultTransition(background-color);

            .swiper-pagination-bullet {
                width: rem(6);
                height: rem(6);
                background-color: rgba($color-black, 0.4);
                border-radius: 100%;

                &.swiper-pagination-bullet-active {
                    background-color: $color-black;
                }
            }
        }
    }

    .swiper-container {
        position: relative;
        padding-left: rem(20);
        padding-top: rem(20);

        &:after {
            position: absolute;
            content: '';
            height: 1px;
            width: calc(100% - #{rem(40)});
            inset: 0;
            bottom: auto;
            margin: auto;
            background-color: $color-gray;

            @include media-breakpoint-up(lg) {
                content: none;
            }
        }

        @include media-breakpoint-up(lg) {
            padding-left: 0;
            padding-top: 0;
        }
    }
}