.slider-history {
	$root: &;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	

	@include media-breakpoint-up(lg) {
		border-style: solid;
		border-width: 1px;
		border-top: none;
		border-bottom: none;
		border-color: rgba($color-black, 0.2);
	}

	@include media-breakpoint-up(sm) {
        padding-top: rem(32);
		padding-bottom: rem(32);
	}

	@include media-breakpoint-up(md) {
        padding-top: rem(60);
		padding-bottom: rem(60);
	}

	&:before {
		position: absolute;
		content: "";
		height: 40%;
		width: 100%;
		inset: 0;
		bottom: auto;
		margin: auto;

		@include media-breakpoint-up(lg) {
			border-bottom: 1px solid rgba($color-black, 0.2);
		}
	}

	&:after {
		position: absolute;
		content: "";
		height: 100%;
		width: 50%;
		top: 0;
		right: auto;
		bottom: 0;
		left: 0%;
		margin: auto;

		@include media-breakpoint-up(lg) {
			border-right: 1px solid rgba($color-black, 0.2);
		}
	}

	&__item {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		column-gap: rem(24);

		@include media-breakpoint-up(md) {
			column-gap: rem(50);
		}

		@include media-breakpoint-up(lg) {
			column-gap: rem(94);
			padding-right: rem(32);
			padding-top: rem(76);
		}

		.factoid {
			&:first-child {
				color: $color-blue;
			}

			&:last-child {
				color: $color-purple;
			}
		}
	}

	&__title {
		position: relative;
		z-index: 20;
		display: flex;
		flex-direction: column;
		font-weight: bold;

		@include media-breakpoint-up(md) {
			padding-left: 0;
			left: 0;
		}
	
		@include media-breakpoint-up(lg) {
			padding-left: rem(78);
			left: rem(-80);
			position: absolute;
		}

		&::before {
			position: absolute;
			content: '';
			height: rem(120);
			width: rem(5);
			inset: 0;
			right: auto;
			left: -1px;
			margin: auto;

			@include media-breakpoint-up(lg) {
				background: linear-gradient(to bottom, $color-blue, $color-purple);
			}
		}
	}

	&__navigation {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
	}

	&__fraction {
		font-size: rem(14);
	}

	&__nav {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		row-gap: rem(6);
		z-index: 20;
		order: 1;
		pointer-events: none;
		margin-top: -33px;

		@include media-breakpoint-up(lg) {
			row-gap: rem(20);
			order: 0;
			margin-top: rem(-100);;
		}
	}

	&__cover {
		position: absolute;
		z-index: 1;
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		margin: auto;
	}

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	&__period {
		width: 100%;
		height: rem(190);
		

		@include media-breakpoint-up(md) {
			height: rem(400);
		}
		@include media-breakpoint-up(lg) {
			height: rem(617);
		}
	}

	&__events {
		flex: none;
		
		width: calc(100% + #{rem(40)});
		margin-left: rem(-20);


		@include media-breakpoint-up(lg) {
			width: calc(100% + #{rem(120)});
			margin-left: rem(-80);
			margin-top: rem(56);
		}
	}

	&__pag {
		display: none;
		position: absolute;
		inset: 0;
		pointer-events: none;	
		place-items: center;
		left: rem(-40);

		@include media-breakpoint-up(lg) {
			display: grid;
		}
	}
	  
	.nav-pag {
		pointer-events: auto; /* включаем клики внутри */
		position: relative;
		width: rem(530);
		height: rem(530);
		margin: 0 auto;
		max-width: initial;
		position: relative;
		overflow: visible;
		will-change: transform;         
		transform-origin: center center;
		background-image: $icon-circle;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 99%;

		.swiper-wrapper {
			transform: none !important;
		}

		.swiper-slide {
			--angle: calc(360deg / var(--total) * var(--i));
	
			position: absolute;
			top: 50%;
			left: 50%;
			width: rem(56);
			height: rem(56);
			margin: 0;       
			cursor: pointer;
			display: flex;
			align-items: center;
			
			transform:
			  translate(-50%, -50%)
			  rotate(var(--angle))
			  translate(var(--radius))
			  rotate(calc(-1 * var(--angle)));
			
			.label-num {
				opacity: 0;
				font-size: rem(20);
				z-index: 1;
			}
	
			.label {
				position: relative;
				transform: rotate(calc(-1 * var(--container-rotation, 0deg)));
				width: rem(56);
				height: rem(56);
				display: flex;
				align-items: center;
				justify-content: center;
	
				&::after {
					position: absolute;
					content: "";
					inset: 0;
					margin: auto;
					background-color: $color-black;
					border-radius: 50%;
					width: rem(6);
					height: rem(6);
					outline: none;
					transition:
					width 0.4s ease,
					height 0.4s ease,
					background-color 0.4s ease,
					outline-width 0.4s ease 0.1s;  
				}
			}
	
			.text {
				position: absolute;
				transform: rotate(calc(-1 * var(--container-rotation, 0deg))) translateX(calc(100% + #{rem(10)}));
				inset: 0;
				display: flex;
				align-items: center;
				white-space: nowrap;
				font-weight: bold;
				opacity: 0;
				transition: opacity 0.5s ease;
				font-size: rem(20);
			}
	
			&:hover {
				.label:after {
					width: rem(56);
					height: rem(56);
					background-color: white;
					outline: 1px solid rgba($color-dark, 0.5);
				}
	
				.label-num {
					opacity: 1;
				}
			}

			&.swiper-slide-thumb-active {
				.label:after {
					width: rem(56);
					height: rem(56);
					background-color: $color-gray-light;
					outline: 1px solid rgba($color-dark, 0.5);
				  }
				
				  .label-num {
					opacity: 1;
					transition: opacity 0.3s ease 0.15s;
				  }
				
				  .label {
					opacity: 1;
					transition: opacity 0.4s ease 0.1s;
				  }
				
				  .text {
					opacity: 1;
					transition: opacity 0.55s ease 1s;
				  }
			  }
		}
	}
}
