 <div class="nav-pag" data-pag>
    <div class="swiper-wrapper" data-wrap>
        {% if slider.items <= 6 or slider.items > 2 %}
            {% for slide in slider.items %}
                <div class="swiper-slide">
                    <span class="label">
                        <span class="label-num">{{ loop.index }}</span>
                    </span>
                    <span class="text">{{slide.category}}</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>